USE [master]
GO
/****** Object:  Database [TestOlusturma]    Script Date: 2.08.2016 19:43:51 ******/
CREATE DATABASE [TestOlusturma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestOlusturma', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestOlusturma.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestOlusturma_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestOlusturma_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestOlusturma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestOlusturma]
GO
/****** Object:  User [ahmetn]    Script Date: 2.08.2016 19:43:51 ******/
CREATE USER [ahmetn] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Soru]    Script Date: 2.08.2016 19:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Soru](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](250) NOT NULL,
	[Answer1] [nvarchar](250) NOT NULL,
	[Answer2] [nvarchar](250) NOT NULL,
	[Answer3] [nvarchar](250) NOT NULL,
	[Answer4] [nvarchar](250) NOT NULL,
	[Answer] [char](1) NULL,
	[TestID] [int] NOT NULL,
 CONSTRAINT [PK_Soru] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Testler]    Script Date: 2.08.2016 19:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testler](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[FinishDate] [datetime] NOT NULL,
	[QuestionQuantity] [int] NOT NULL,
	[TeacherName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Testler] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Soru]  WITH CHECK ADD  CONSTRAINT [FK_Soru_Testler] FOREIGN KEY([TestID])
REFERENCES [dbo].[Testler] ([TestID])
GO
ALTER TABLE [dbo].[Soru] CHECK CONSTRAINT [FK_Soru_Testler]
GO
USE [master]
GO
